@import "~rc-slider/assets/index.css";
@import "~rc-tooltip/assets/bootstrap.css";

.pc-range-slider {
  &.rc-slider {
    &.rc-slider-disabled {
      background-color: transparent;
      .rc-slider-handle {
        background: #aaa;
        border-color: #aaa;
      }
    }

    &.square-handler {
      .rc-slider-handle {
        border-radius: 0;
      }
    }

    &.triangle-handler {
      .rc-slider-handle {
        border-width: 0 15px 15px 15px;
        width: 0;
        height: 0;
        background: transparent none;
        border-color: transparent;
        border-bottom-color: #29b8f9;
        border-radius: 0;
      }
    }

    .rc-slider-step,
    .rc-slider-rail,
    .rc-slider-track {
      height: 10px;
      width: 100%;
      margin-top: -5px;
      top: 50%;
      left: 0;
    }
    .rc-slider-rail {
      position: absolute;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer;
      background-image: -webkit-linear-gradient(top, #f5f5f5 0, #f9f9f9 100%);
      background-image: -o-linear-gradient(top, #f5f5f5 0, #f9f9f9 100%);
      background-image: linear-gradient(to bottom, #f5f5f5 0, #f9f9f9 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#fff9f9f9',GradientType=0);
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }
    .rc-slider-track {
      background: #bababa;
    }
    .rc-slider-handle {
      position: absolute;
      top: 2px;
      width: 20px;
      height: 20px;
      background-color: #337ab7;
      background-image: -webkit-linear-gradient(top, #337ab7 0, #2e6da4 100%);
      background-image: -o-linear-gradient(top, #337ab7 0, #2e6da4 100%);
      background-image: linear-gradient(to bottom, #337ab7 0, #2e6da4 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7',endColorstr='#ff2e6da4',GradientType=0);
      filter: none;
      border: 0 solid transparent;
      border-radius: 50%;
    }

    .rc-slider-dot {
      width: 12px;
      height: 12px;
    }
  }

  &.rc-slider-vertical {
    height: 300px;
    margin-left: 10px;
    .rc-slider-rail {
      height: 100%;
    }
    &.triangle-handler {
      .rc-slider-handle {
        left: -3px;
      }
    }
  }
}
